__pycache__
config.yml
config.js
docker/nginx/api.conf
docker/nginx/frontend.conf
frontend/js/helpers/config.js
sftp-config.json
TODO
flows
compose.yml
metric-provider-binary
.vscode
static-binary
.pytest_cache
test-compose.yml
tests/structure.sql
tools/sgx_enable
venv/
lib/hardware_info_root.py
tools/cluster/cleanup.sh
node_modules/