.DS_Store
__pycache__
/config.yml
/config.yml.backup
/docker/nginx/api.conf
/docker/nginx/api.conf.backup
/docker/nginx/frontend.conf
/docker/nginx/frontend.conf.backup
/docker/nginx/block-and-redirect.conf
/docker/nginx/block-and-redirect.conf.backup
/docker/nginx/ssl/*
!/docker/nginx/ssl/README.md
/frontend/js/helpers/config.js
/frontend/js/helpers/config.js.backup
/sftp-config.json
*.sublime-project
*.sublime-workspace
TODO
/docker/compose.yml
metric-provider-binary
.vscode
static-binary
.pytest_cache
/lib/hardware_info_root.py
/tools/cluster/cleanup.py
/node_modules/
/lib/c/*.o
/tools/backup
/manager-config.yml
/venv/
/docker/test-compose.yml
/tests/structure.sql
tools/sgx_enable
/tests/test-config.yml
/tests/.testmondata
/tests/.coverage
/tests/test-config.js
/templates/ai/usage_scenario.yml.tmp
/templates/website/usage_scenario.yml.tmp
.nova/

## Files that will be created if Enterprise Version gets installed with valid license
/ee
/cron/delete_expired_data.py
/lib/ai-optimisations.py

# gemini-cli settings
.gemini/

# GitHub App credentials
gha-creds-*.json

