postgresql:
# leave the host line empty if you do want to use Unix Domain socket connection
  host: green-coding-postgres-container
  user: postgres
  dbname: green-coding
  password: PLEASE_CHANGE_THIS
smtp:
  server: SMTP_SERVER
  sender: SMTP_SENDER
  port: SMTP_PORT
  password: SMTP_AUTH_PW
  user: SMTP_AUTH_USER
project:
  name: My test project
  url: https://metrics.green-coding.org/

# Please select the needed providers according to the working ones on your system
# More info https://docs.green-coding.org/docs/measuring/metric-providers
measurement:
  idle-time-start: 5
  idle-time-end: 5
  flow-process-runtime: 60
  metric-providers:
    cpu.utilization.cgroup.container.provider.CpuUtilizationCgroupContainerProvider: 100
    cpu.energy.RAPL.MSR.system.provider.CpuEnergyRaplMsrSystemProvider: 100
    cpu.utilization.procfs.system.provider.CpuUtilizationProcfsSystemProvider: 100
#    cpu.time.cgroup.container.provider.CpuTimeCgroupContainerProvider: 100
#    cpu.time.cgroup.system.provider.CpuTimeCgroupSystemProvider: 100
#    cpu.time.procfs.system.provider.CpuTimeProcfsSystemProvider: 100
    memory.total.cgroup.container.provider.MemoryTotalCgroupContainerProvider: 100
    memory.energy.RAPL.MSR.system.provider.MemoryEnergyRaplMsrSystemProvider: 100
    network.io.cgroup.container.provider.NetworkIoCgroupContainerProvider: 100
#    psu.energy.ac.system.provider.PsuEnergyAcSystemProvider: 100
    psu.energy.xgboost.system.provider.PsuEnergyXgboostSystemProvider: 0

admin:
  # This address will get an email, when a new project was added through the frontend
  email: myemail@dev.local
  # no_emails: True will suppress all emails. Helpful in development servers
  no_emails: True
