-r requirements.txt
pydantic==2.5.3
pytest==7.4.4
requests==2.31.0
pylint==3.0.3
fastapi==0.108.0
starlette>=0.32
anybadge==1.14.0

# just to clear the pylint errors for the files in /api
scipy==1.11.4
orjson==3.9.10
