-r requirements.txt
pydantic==2.6.1
pytest==8.0.1
requests==2.31.0
pylint==3.0.3
fastapi==0.109.2
starlette>=0.32
anybadge==1.14.0

# just to clear the pylint errors for the files in /api
scipy==1.12.0
orjson==3.9.14
