PyYAML==6.0.3
pandas==2.3.3
psycopg[binary]==3.2.10
psycopg_pool==3.2.6
pyserial==3.5
psutil==7.1.0
schema==0.7.7
aiohttp==3.12.15
energy-dependency-inspector==0.2.0

# calibration script dep
tqdm==4.67.1
plotext==5.3.2
docker==7.1.0
