-r requirements.txt
pydantic==2.5.2
pytest==7.4.3
requests==2.31.0
pylint==3.0.2
fastapi==0.105.0
anybadge==1.14.0

# just to clear the pylint errors for the files in /api
scipy==1.11.4
orjson==3.9.10
