body {
    background: #e9eaef;
    display: flex;
}

/* preload class is only present on body to prevent transition on margin-left flickering
on load. class is removed after initial page load in main.js
Thanks to https://css-tricks.com/transitions-only-after-page-load/ */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.full-width-card {
    width: 100% !important;
    margin-bottom: 26px !important;
}

#chart-container {
    margin-top: 14px;
}

.no-transform {
    text-transform: none !important;
}

.statistics-chart-card {
    min-width: 600px;
    flex-grow: 1;
}
.statistics-chart {
    width: 100%;
    height: 100%;
}

.statistics-chart-card .statistics-chart {
    min-height: 600px;
}

.statistics-chart-card-small {
    min-width: 300px;
    flex-grow: 1;
}
.statistics-chart-card-small .statistics-chart {
    min-height: 300px;
}

.article {
    background: #e9eaef;
}

/* index.html: */

#table {
    padding: 20px;
}

.td-index {
    word-break: break-all;
    overflow-wrap: break-all;
}

/* request.html: */
#new-software-description>div {
    margin-bottom: 10px;
}

#new-software-name-div {
    margin-top: 10px;
}

.gc-top-aligned {
    align-items: flex-start;
}

.gc-stats-multiply {
    text-transform: lowercase !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.gc-stats-multiply div.value {
    text-transform: lowercase !important;
}

/* Chart container special flex flow */
/* By using cards stackable from the framework the layout was not collapsing correctly with the echarts containers */
#chart-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}
#chart-container .card {
    margin-top: 0 !important;
}
/* Layouting for menu and main content ========== */

#menu-toggle i {
     margin-right:  30px;
}

 #menu {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0px;
    margin-left:  0px;
    background: rgb(40, 56, 70);
    /*background: linear-gradient(180deg, rgb(47, 61, 79) 0%, rgb(47, 61, 79) 50%, rgb(80, 144, 113) 100%);*/
    border-radius: 0px;
 }
 #main {
     flex-grow:  1;
     margin: 20px 40px 0px 240px ;
}
.sticky-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.sticky-container img {
    witdh: 250px;
    margin:auto;
    margin-bottom: 10px;
}

#menu .item-container {
    flex:1;
}

/* Handle collapsing on click or on small window */
a,
#menu {
    -webkit-transition: left 75ms ease-in-out;
    transition: left 75ms ease-in-out;
}
#main {
    -webkit-transition: margin-left 75ms ease-in-out;
    transition: margin-left 75ms ease-in-out;

}


#menu.closed {
    left: -200px;
 }
#main.closed {
    margin-left: 40px;
}

#menu.opened {
   left: 0px !important;
}
#main.opened {
   margin-left: 240px !important;
}


@media only screen and (max-width: 960px) {
     #menu {
        left: -200px;
     }
     #main {
         margin-left: 20px;
         margin-right: 20px;
     }
}

.overflow-ellipsis {
    text-overflow: ellipsis;
    overflow-wrap: normal;
    overflow: hidden;
    white-space: nowrap;
}

.si-unit {
    text-transform: none;
}

.ui.fluid.image.menu-logo {
    width: 90%;
}

.invalidated-measurement {
    background: #e9eaef url("/images/noncompliant.png");
}

.full-width {
    flex: 0 0 100%
}

.chart-navigation-icon {
    transition: 0.2s;
    width: 160px;
    overflow: hidden;
}

.hide {
    width: 0 !important;
}

.ui.card .ui.bottom.attached.label {
    font-size:10px !important;
}


.radar-chart, .bar-chart, .pie-chart, .embodied-chart, .phases-chart {
    min-width: 300px;
    height: 300px;
    display: block;
    margin:auto;
}

.bar-chart, .phases-chart {
    width: 100%;
    min-width: 300px;
    height: 300px;
    display: block;
    margin:auto;
}

.key-metrics-chart-container .radar-chart,
.key-metrics-chart-container .pie-chart,
.key-metrics-chart-container .bar-chart,
.key-metrics-chart-container .embodied-chart {
    width: 45%;
}

.key-metrics-chart-container .bar-chart.single {
    width: 100%;
}


.compare-chart-container, .key-metrics-chart-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}

.usage-scenario, #diff-pre {
    word-wrap: break-word;
    white-space: pre-wrap;
}

.break {
  flex-basis: 100%;
  height: 0;
}


.ui.steps .step .title {
    font-size: 1em;
}

.chart-title {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}

#machine-specs td {
    vertical-align: top;
}

#logs pre, #machine-specs-tab {
    max-width: 80vw;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: scroll;
}

#compare-button, #sort-button {
    float: right;
}

.wide.card {
    width: 400px !important;
}

.float-right {
    float: right;
}

.no-wrap {
    white-space: nowrap;
}

.close.icon {
    cursor: pointer;
    position: absolute;
    margin: 0;
    top: .78575em;
    right: .5em;
    opacity: .7;
    transition: opacity .1s ease;
}


/* PRINT STYLESHEETS */
@media print {
  .print-page-break {
    page-break-before: always;
  }
}
