services:
  playwright-nodejs:
    image: mcr.microsoft.com/playwright:v1.56.0-noble
#    volumes:
#       - /tmp/.X11-unix:/tmp/.X11-unix # for debugging in non-headless mode
    environment:
      DISPLAY: ":0" # for debugging in non-headless mode
    depends_on:
      squid:
        condition: service_healthy
    setup-commands:
        # install playwright libraries
      - command: mkdir /tmp/energy-tests
      - command: cp -R /tmp/repo/. /tmp/energy-tests
      - command: cd /tmp/energy-tests && npm init -y && npm install playwright@1.56.0
        shell: bash

  squid:
    image: greencoding/squid_reverse_proxy:v4
    healthcheck:
      test: [
        "CMD", "curl", "-fs", "--proxy", "http://squid:3128", "https://www.google.com", "--insecure"
      ]
      interval: "1h" # effectively turns repeated healthchecks during runtime off
      start_period: "60s"
      start_interval: "1s"
# activate for debugging
#    ports:
#      - 3128:3128