services:
  green-coding-postgres:
    # No need to fix version anymore than major version here
    # for measurement accuracy the db container is not relevant as it
    # should not run on the measurement node anyway
    image: postgres:15
    shm_size: 256MB
    container_name: green-coding-postgres-container
    restart: always
    environment:
      - POSTGRES_PASSWORD=PLEASE_CHANGE_THIS
    volumes:
      - green-coding-postgres-data:/var/lib/postgresql/data
      - ./structure.sql:/docker-entrypoint-initdb.d/structure.sql:ro
  # If you want to use a shared socket between postgres and gunicorn please add
  #   - ./postgres/socket:/var/run/postgresql
  # Also add this to the green-coding-gunicorn then
  # We use container internal networking as it is easier to to setup a test-container-setup
  # and the performance is identical to socket connections in our internal tests
    ports:
      - 9573:9573
    command: >
      -c ssl=on
      -c ssl_cert_file=/etc/ssl/certs/ssl-cert-snakeoil.pem
      -c ssl_key_file=/etc/ssl/private/ssl-cert-snakeoil.key
      -c work_mem=16MB
      -p 9573
# This option can potentially speed up big queries: https://www.twilio.com/blog/sqlite-postgresql-complicated
  green-coding-nginx:
    # No need to fix the version here, as we just waant to use latest, never have experienced
    # incompatibilities and for measurement accuracy the web container is not relevant as it
    # should not run on the measurement node anyway
    image: nginx
    container_name: green-coding-nginx-container
    stop_signal: SIGQUIT
    depends_on:
      - green-coding-postgres
    ports:
      - 9142:9142
    restart: always
    volumes:
      - green-coding-shared-sockets:/tmp/gmt-sockets
      - PATH_TO_GREEN_METRICS_TOOL_REPO:/var/www/green-metrics-tool:ro
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/api.conf:/etc/nginx/conf.d/api_nginx.conf:ro
      #- ./nginx/block.conf:/etc/nginx/conf.d/block_nginx.conf:ro
      - ./nginx/frontend.conf:/etc/nginx/conf.d/default.conf:ro
      # - TEST_CONFIG_SETUP:/var/www/green-metrics-tool/config.yml
      - ./nginx/ssl:/etc/ssl:ro
  green-coding-gunicorn:
    build:
      context: .
      dockerfile: Dockerfile-gunicorn
    container_name: green-coding-gunicorn-container
    init: true
    depends_on:
      - green-coding-postgres
    restart: always
    volumes:
      - green-coding-shared-sockets:/tmp/gmt-sockets
      - PATH_TO_GREEN_METRICS_TOOL_REPO:/var/www/green-metrics-tool:ro
      # - TEST_CONFIG_SETUP:/var/www/green-metrics-tool/config.yml

  green-coding-redis:
    image: redis:alpine
    container_name: green-coding-redis-container
    volumes:
      - green-coding-redis-data:/data
    command: redis-server --save 60 1 --loglevel warning
    restart: always


# Although it would help us very much performance-wise the
# Shared volume with only temporary data, green-coding-shared-sockets, must be
# of type overlayfs and cannot be tmpfs (https://docs.docker.com/storage/tmpfs/)
# tmpfs being a RAM stored and faster volume is sadly not shareable between containers
volumes:
  green-coding-postgres-data:
  green-coding-shared-sockets:
  green-coding-redis-data:
