services:
  green-coding-postgres:
    build:
      context: .
      dockerfile: Dockerfile-postgres
    container_name: green-coding-postgres-container
    restart: always
    volumes:
      - green-coding-postgres-data:/var/lib/postgresql/14/main
    expose:
      - 5432
    ports:
      - 5432:5432
  green-coding-nginx:
    build:
      context: .
      dockerfile: Dockerfile-nginx
    container_name: green-coding-nginx-container
    depends_on:
      - green-coding-postgres
    ports:
      - 8000:80
    restart: always
    volumes:
      - green-coding-shared-tmp:/tmp
      - PATH_TO_GREEN_METRICS_TOOL_REPO:/var/www/green-metrics-tool:ro
  green-coding-gunicorn:
    build:
      context: .
      dockerfile: Dockerfile-gunicorn
    container_name: green-coding-gunicorn-container
    depends_on:
      - green-coding-postgres
    ports:
      - 8000:80
    restart: always
    volumes:
      - green-coding-shared-tmp:/tmp
      - PATH_TO_GREEN_METRICS_TOOL_REPO:/var/www/green-metrics-tool:ro
volumes:
  green-coding-postgres-data:
  green-coding-shared-tmp: