gunicorn==23.0.0
psycopg[binary]==3.2.9
psycopg_pool==3.2.6
fastapi[standard]==0.116.1
starlette>=0.35
uvicorn[standard]==0.35.0
pandas==2.3.1
PyYAML==6.0.2
anybadge==1.16.0
orjson==3.11.1
scipy==1.15.2
schema==0.7.7
deepdiff==8.6.0
redis==6.4.0
hiredis==3.2.1
requests==2.32.4
uvicorn-worker==0.3.0
cachetools==6.1.0

pytest==8.4.1 # needed because we need to exit in db.py if tests run with wrong config
