gunicorn==23.0.0
psycopg[binary]==3.2.1
psycopg_pool==3.2.2
fastapi[standard]==0.114.0
starlette>=0.35
uvicorn[standard]==0.30.6
pandas==2.2.2
PyYAML==6.0.2
anybadge==1.14.0
orjson==3.10.7
scipy==1.14.1
schema==0.7.7
deepdiff==8.0.1
redis==5.0.8
hiredis==3.0.0
requests==2.32.3
uvicorn-worker==0.2.0
