gunicorn==23.0.0
psycopg[binary]==3.3.2
psycopg_pool==3.3.0
fastapi[standard]==0.128.1
starlette>=0.35
uvicorn[standard]==0.40.0
pandas==3.0.0
PyYAML==6.0.3
anybadge==1.16.0
orjson==3.11.7
scipy==1.16.3
schema==0.7.8
deepdiff==8.6.1
redis==7.1.0
hiredis==3.3.0
requests==2.32.5
uvicorn-worker==0.4.0
cachetools==6.2.6

pytest==9.0.2 # needed because we need to exit in db.py if tests run with wrong config
