server {

#__DEFAULT__    listen [::]:9142;
#__DEFAULT__    listen 9142;

#__SSL__    listen [::]:443 ssl;
#__SSL__    listen 443 ssl;
#__SSL__    ssl_certificate /etc/ssl/production.crt;
#__SSL__    ssl_certificate_key /etc/ssl/production.key;


    server_name __API_URL__ ;

    location = /favicon.ico {
        alias /var/www/green-metrics-tool/frontend/favicon.ico;  # Replace with the actual path to your favicon.ico file
    }

    location / {
        proxy_pass http://unix:/tmp/gmt-sockets/api.sock;
        # Do not change this
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

    }
}
