server {

#__DEFAULT__    listen [::]:9142;
#__DEFAULT__    listen 9142;

#__SSL__    listen [::]:443 ssl;
#__SSL__    listen 443 ssl;
#__SSL__    ssl_certificate /etc/ssl/production.crt;
#__SSL__    ssl_certificate_key /etc/ssl/production.key;

    server_name __METRICS_URL__;

    location / {
        root   /var/www/green-metrics-tool/frontend;
        index  index.html index.htm;
    }

    #error_page  404              /404.html;

    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }

    # proxy the PHP scripts to Apache listening on 127.0.0.1:80
    #
    #location ~ \.php$ {
    #    proxy_pass   http://127.0.0.1;
    #}

    # pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
    #
    #location ~ \.php$ {
    #    root           html;
    #    fastcgi_pass   127.0.0.1:9000;
    #    fastcgi_index  index.php;
    #    fastcgi_param  SCRIPT_FILENAME  /scripts$fastcgi_script_name;
    #    include        fastcgi_params;
    #}

    # deny access to .htaccess files, if Apache's document root
    # concurs with nginx's one
    #
    #location ~ /\.ht {
    #    deny  all;
    #}
}