API_URL = "__API_URL__"
METRICS_URL = "__METRICS_URL__"


/*

    if(metric_name.indexOf('_container') !== -1) explaination = 'all containers';

    if(metric_name.indexOf('_energy_') !== -1) {
        color = 'blue';
        icon = 'batter three quarters';
    } else if(metric_name.indexOf('_power_') !== -1) {
        color = 'orange';
        icon = 'power off';
    } else if(metric_name.indexOf('memory_total_') !== -1) {
        color = 'purple';
        icon = 'memory';
    } else if(metric_name.indexOf('network_io') !== -1) {
        color = 'olive';
        icon = 'exchange alternate';
        explaination = '<a href="https://docs.green-coding.berlin/docs/measuring/metric-providers/network-io-cgroup-container/"><i class="question circle icon"></i></a>'
    } else if(metric_name.indexOf('cpu_utilization') !== -1) {
        color = 'yellow';
        icon = 'memory';
    }
*/

METRIC_MAPPINGS = {
    ane_power_powermetrics_system: {
        clean_name: "ANE Power",
        explanation: "Apple Neural Engine",
        color: "orange",
        icon: "power off"
    },
    ane_energy_powermetrics_system: {
        clean_name: "ANE Energy",
        explanation: "Apple Neural Engine",
        color: "blue",
        icon: "battery three quarters"
    },
    gpu_power_powermetrics_system: {
        clean_name: "GPU Power",
        explanation: "Apple M1 GPU / Intel GPU",
        color: "orange",
        icon: "power off"
    },
    gpu_energy_powermetrics_system: {
        clean_name: "GPU Energy",
        explanation: "Apple M1 GPU / Intel GPU",
        color: "blue",
        icon: "battery three quarters"
    },

    cores_power_powermetrics_system: {
        clean_name: "CPU Power (Cores)",
        explanation: "Power of the cores only without GPU, ANE, GPU, DRAM etc.",
        color: "orange",
        icon: "power off"
    },
    cores_energy_powermetrics_system: {
        clean_name: "CPU Energy (Cores)",
        explanation: "Energy of the cores only without GPU, ANE, GPU, DRAM etc.",
        color: "blue",
        icon: "battery three quarters"
    },
    cpu_time_powermetrics_docker: {
        clean_name: "CPU time",
        explanation: "Effective execution time of the CPU for all cores combined",
        color: "brown",
        icon: "stopwatch"
    },
    disk_io_bytesread_powermetrics: {
        clean_name: "Bytes read (HDD/SDD)",
        explanation: "Effective execution time of the CPU for all cores combined",
        color: "green",
        icon: "upload"
    },
    disk_io_byteswritten_powermetrics: {
        clean_name: "Bytes written (HDD/SDD)",
        explanation: "Effective execution time of the CPU for all cores combined",
        color: "green",
        icon: "download"
    },
    docker_energy_impact_powermetrics: {
        clean_name: "Energy impact",
        explanation: "macOS proprietary value for relative energy impact on device",
        color: "red",
        icon: "cat"
    }
}
