name: Build and Push Containers
on:
  pull_request:
    types:
      - closed
    paths:
      - 'docker/auxiliary-containers/**/Dockerfile'

  workflow_dispatch:

jobs:
  build-and-push-containers:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

        ## This is needed for multi-architecture builds
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

        # ${{ github.run_number }} increments with each urn (stays the same if you re-run a failed/stalled job)
        # build-containers script takes the first arguement as the tag in the format: v1.x , where x is run_number
      - name: Build and Push Containers
        run: bash ./docker/auxiliary-containers/build-containers.sh ${{ github.run_number }}