name: Build Codespace Container
on:
  workflow_dispatch:

jobs:
  build-and-push-containers:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker container
        uses: docker/build-push-action@v2
        with:
          context: .
          file: /.devcontainer/containerized/Dockerfile  # Path to the Dockerfile
          push: true
          tags: ghcr.io/green-coding-berlin/codespace-container:latest