name: Pull Request Tests
run-name: PR check
on:
  pull_request:
    types: [opened, synchronize]
  workflow_dispatch:
    inputs:
      enable-ssh:
        description: 'Enable SSH connection for debugging purposes'
        required: false
        type: boolean
      test-path:
        description: 'Specific test path to run'
        required: false
        type: string

jobs:
  run-tests:
    runs-on: ubuntu-24.04
    permissions:
      pull-requests: write
    steps:
      - name: Eco CI Energy Estimation - Initialize
        uses: green-coding-solutions/eco-ci-energy-estimation@main
        with:
          task: start-measurement
          project: "Green Metrics Tool"
          machine: "ubuntu-latest"
          tags: "CI/CD, PR-Workflow"
          gmt-api-token: ${{ secrets.GMT_API_TOKEN }}
          # Intensity for California, where many GitHub Servers are in 2024
          # we use constant here, as GitHub Actions Bot cannot access the secrets, where we would store the Electricitymaps token
          co2-calculation-method: 'constant'
          co2-grid-intensity-constant: 231

      - name: 'Checkout repository'
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}
          submodules: 'false'


      - name: 'Setup, Run, and Teardown Tests'
        uses: ./.github/actions/gmt-pytest
        with:
         github-token: ${{ secrets.GITHUB_TOKEN }}
         enable-ssh: ${{ inputs.enable-ssh }}
         test-path: ${{ inputs.test-path }}

      - name: Eco CI Energy Estimation - Get Measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@main
        with:
          task: get-measurement

      - name: Eco CI Energy Estimation - End Measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@main
        with:
          task: display-results
          pr-comment: true

