name: Tests

on:
  push:
    branches: [ "integration-tests-initial" ]
  pull_request:
    branches: [ "integration-tests-initial" ]
  workflow_dispatch:

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      
      - name: Install python testing dependencies
        run: |
          python -m pip install --upgrade pip
          pip install fastapi pytest psycopg2 numpy pandas
      
      - name: Run Install Script
        run: |
          ./install.sh -p testpw

      - name: Setup Test environment
        working-directory: ./test
        run: |
          ./setup-test-env.sh -p testpw
          
      - name: Start Test container
        working-directory: ./test
        run: |
          docker compose -f ../docker/test-compose.yml up -d
      
      - name: Sleep for 10 seconds
        run: sleep 10s
        shell: bash
          
      - name: Run Tests
        working-directory: ./test
        run: |
          pytest
          
      - name: Stop Containers
        working-directory: ./test
        run: |
          ./stop-test-containers.sh