name: Daily Test Run - Virtual Machine - Main Branch
run-name: Scheduled - main branch
on:
#  schedule:
#    - cron: '2 50 * * *'
  workflow_dispatch:

jobs:
  run-tests-main:
    runs-on: eco-ci-runner-tx1330-m4
    steps:
      - name: Eco CI Energy Estimation - Initialize
        uses: green-coding-solutions/eco-ci-energy-estimation@main
        with:
          task: start-measurement
          project: "Green Metrics Tool"
          machine: "eco-ci-runner-tx1330-m4"
          tags: "CI/CD, Main-Workflow"
          gmt-api-token: ${{ secrets.GMT_API_TOKEN }}
          # Intensity for our own solar panels
          co2-calculation-method: 'constant'
          co2-grid-intensity-constant: 30

      - id: check-date
        if: ${{ github.event_name != 'workflow_dispatch' }}
        uses: green-coding-solutions/eco-ci-activity-checker@v1
        with:
          branch: 'main'

      - name: Eco CI Energy Estimation - After Check Measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@main
        with:
          task: get-measurement

      - if: ${{ github.event_name == 'workflow_dispatch' || steps.check-date.outputs.should_run == 'true'}}
        name: 'Checkout repository'
        uses: actions/checkout@v4
        with:
          ref: 'main'
          submodules: 'false'

      - if: ${{ github.event_name == 'workflow_dispatch' || steps.check-date.outputs.should_run == 'true'}}
        name: 'Setup, Run, and Teardown Tests'
        uses: ./.github/actions/gmt-pytest
        with:
         github-token: ${{ secrets.GITHUB_TOKEN }}
         tests-command: "pytest api/test_api_software_add.py::test_post_run_add_github_tags -vv"

      - name: Eco CI Energy Estimation - Get Measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@main
        with:
          task: get-measurement

      - name: Eco CI Energy Estimation - End Measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@main
        with:
          task: display-results
