name: Daily Test Run - Bare Metal - Main Branch
run-name: Scheduled - main branch
on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  run-tests-main:
    runs-on: local-test-arm64
    permissions:
      packages: write
      contents: read
    steps:
      # - id: check-date
      #   if: ${{ github.event_name != 'workflow_dispatch' }}
      #   uses: green-coding-solutions/eco-ci-activity-checker@main
      #   with:
      #     repo: 'green-coding-solutions/green-metrics-tool'
      #     branch: 'main'
      #     workflow-id: 45267391

      - name: Eco CI Energy Estimation - Initialize
        uses: green-coding-solutions/eco-ci-energy-estimation@main
        with:
          task: start-measurement
          project: "Green Metrics Tool"
          machine: "ubuntu-latest"
          tags: "CI/CD,Bare-Metal-main-Workflow"
          gmt-api-token: ${{ secrets.GMT_API_TOKEN }}
          electricitymaps-api-token: ${{ secrets.ELECTRICITYMAPS_TOKEN }}

      # - if: ${{ github.event_name == 'workflow_dispatch' || steps.check-date.outputs.should_run == 'true'}}
      - name: 'Checkout repository'
        uses: actions/checkout@v4
        with:
          ref: 'main'
          submodules: 'true'

      - name: Eco CI Energy Estimation - Initialize
        uses: green-coding-solutions/eco-ci-energy-estimation@main
        with:
          task: start-measurement
          project: "Green Metrics Tool"
          machine: "ubuntu-latest"
          tags: "CI/CD, PR-Workflow"
          gmt-api-token: ${{ secrets.GMT_API_TOKEN }}
          electricitymaps-api-token: ${{ secrets.ELECTRICITYMAPS_TOKEN }}


      # - if: ${{ github.event_name == 'workflow_dispatch' || steps.check-date.outputs.should_run == 'true'}}
      - name: 'Setup, Run, and Teardown Tests'
        uses: ./.github/actions/gmt-pytest
        with:
         github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Eco CI Energy Estimation - Get Measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@main
        with:
          task: get-measurement

      - name: Eco CI Energy Estimation - End Measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@main
        with:
          task: display-results
          pr-comment: true
