name: Pull Request Tests
run-name: PR check
on:
  pull_request:

jobs:
  run-tests:
    runs-on: ubuntu-24.04
    permissions:
      pull-requests: write
      id-token: write
      contents: read      
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
          submodules: 'true'

      - name: Eco CI Energy Estimation - Initialize
        uses: green-coding-solutions/eco-ci-energy-estimation@main
        with:
          task: start-measurement
          company-uuid: "20b269ce-cd67-4788-8614-030eaf5a0b47"
          project-uuid: "00000001-BCA5-451B-9E60-3A2FD07FA28D"
          machine-uuid: "F6ABE057-59ED-4406-97C8-9FB61B789627"


      - name: 'Setup, Run, and Teardown Tests'
        uses: ./.github/actions/gmt-pytest
        with:
         metrics-to-turn-off: '--categories RAPL Machine Sensors Debug CGroupV2 MacOS GPU --providers PsuEnergyAcSdiaMachineProvider'
         github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Eco CI Energy Estimation - Get Measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@main
        with:
          task: get-measurement
          branch: main

      - name: Eco CI Energy Estimation - End Measurement
        uses: green-coding-solutions/eco-ci-energy-estimation@main
        with:
          task: display-results
          branch: main
          pr-comment: true

      - name: Fix my build
        uses: fly-ci/wingman-action@v1
        if: failure()          
        
